In [5]:
#必要ライブラリの読み込み
import pandas as pd

#データの読み込み
df = pd.read_csv("International_football_results.csv")

In [2]:
#演習問題1

#1.列名が"tournament"の列を取り出せ。
df["tournament"]


#2.行番号100行目以上6000行目未満を取り出せ。
df[100:6000]

#3.列名が"date","city","coutry"となっている列を3列まとめて取り出せ。
df[["date","city","country"]]

#4."Brazil"がhome_teamとなっている試合を取り出せ。
df[df.home_team == "Brazil"]

#5."Brazil"が出場している試合を全て取り出せ。
df[(df.home_team == "Brazil") | (df.away_team == "Brazil")]

#6.2003年に行われた試合を全て取り出せ。
df[df.date.str.contains("2003")]

/usr/local/lib/python3.6/site-packages/pandas/core/computation/expressions.py:179: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
24983,2003-01-10,India,Pakistan,0,1,SAFF Cup,Dhaka,Bangladesh,True
24984,2003-01-10,Sri Lanka,Afghanistan,1,0,SAFF Cup,Dhaka,Bangladesh,True
24985,2003-01-11,Bangladesh,Nepal,1,0,SAFF Cup,Dhaka,Bangladesh,False
24986,2003-01-11,Maldives,Bhutan,6,0,SAFF Cup,Dhaka,Bangladesh,True
24987,2003-01-12,Afghanistan,India,0,4,SAFF Cup,Dhaka,Bangladesh,True
24988,2003-01-12,Barbados,Jamaica,1,0,Friendly,Bridgetown,Barbados,False
24989,2003-01-12,Pakistan,Sri Lanka,2,1,SAFF Cup,Dhaka,Bangladesh,True
24990,2003-01-13,Bangladesh,Maldives,1,0,SAFF Cup,Dhaka,Bangladesh,False
24991,2003-01-13,Nepal,Bhutan,2,0,SAFF Cup,Dhaka,Bangladesh,True
24992,2003-01-14,Afghanistan,Pakistan,0,1,SAFF Cup,Dhaka,Bangladesh,True
24993,2003-01-14,India,Sri Lanka,1,1,SAFF Cup,Dhaka,Bangladesh,True
24994,2003-01-15,Bangladesh,Bhutan,3,0,SAFF Cup,Dhaka,Bangladesh,False
24995,2003-01-15,Nepal,Maldives,2,3,SAFF Cup,Dhaka,Bangladesh,True
24996,2003-01-17,El Salvador,Guatemala,0,0,Friendly,Santa Ana,USA,True
24997,2003-01-18,Bangladesh,India,2,1,SAFF Cup,Dhaka,Bangladesh,False
24998,2003-01-18,Pakistan,Maldives,0,1,SAFF Cup,Dhaka,Bangladesh,True
24999,2003-01-18,USA,Canada,4,0,Friendly,Fort Lauderdale,USA,False
25000,2003-01-19,El Salvador,Guatemala,0,0,Friendly,Los Angeles,USA,True
25001,2003-01-20,Bangladesh,Maldives,1,1,SAFF Cup,Dhaka,Bangladesh,False
25002,2003-01-20,Pakistan,India,1,2,SAFF Cup,Dhaka,Bangladesh,True
25003,2003-01-25,Uganda,Algeria,0,1,Friendly,Kampala,Uganda,False
25004,2003-01-26,Barbados,Finland,0,0,Friendly,Bridgetown,Barbados,False
25005,2003-01-26,Ghana,Benin,3,0,Friendly,Kumasi,Ghana,False
25006,2003-01-26,United Arab Emirates,Norway,1,1,Friendly,Sharjah,United Arab Emirates,False
25007,2003-01-28,Oman,Norway,1,2,Friendly,Muscat,Oman,False
25008,2003-01-29,Cyprus,Greece,1,2,Friendly,Larnaca,Cyprus,False
25009,2003-01-29,Trinidad and Tobago,Finland,1,2,Friendly,Port of Spain,Trinidad and Tobago,False
25010,2003-01-31,Honduras,Argentina,1,3,Friendly,San Pedro Sula,Honduras,False
25011,2003-02-04,Mexico,Argentina,0,1,Friendly,Los Angeles,USA,True
25012,2003-02-04,Uruguay,Iran,1,1,Lunar New Year Cup,So Kon Po,Hong Kong,True
...,...,...,...,...,...,...,...,...,...
25855,2003-12-10,Uganda,Rwanda,2,0,CECAFA Cup,Khartoum,Sudan,True
25856,2003-12-11,Central African Republic,Gabon,2,0,Friendly,Brazzaville,Congo,True
25857,2003-12-11,Malta,Poland,0,4,Friendly,Attard,Malta,False
25858,2003-12-12,Bahrain,Iraq,2,2,Prime Minister's Cup,Riffa,Bahrain,False
25859,2003-12-12,Kenya,Egypt,0,1,Prime Minister's Cup,Riffa,Bahrain,True
25860,2003-12-13,Botswana,Zimbabwe,0,2,Friendly,Selebi-Phikwe,Botswana,False
25861,2003-12-13,Congo,Gabon,1,0,Friendly,Brazzaville,Congo,False
25862,2003-12-14,Lithuania,Poland,1,3,Friendly,Attard,Malta,True
25863,2003-12-14,United Arab Emirates,Azerbaijan,3,3,Friendly,Dubai,United Arab Emirates,False
25864,2003-12-15,Bahrain,Egypt,0,1,Prime Minister's Cup,Riffa,Bahrain,False
25865,2003-12-15,Iraq,Kenya,2,0,Prime Minister's Cup,Riffa,Bahrain,True
25866,2003-12-16,Kuwait,Lebanon,2,0,Friendly,Paphos,Cyprus,True
25867,2003-12-18,Bahrain,Kenya,2,1,Prime Minister's Cup,Riffa,Bahrain,False
25868,2003-12-18,Egypt,Iraq,2,0,Prime Minister's Cup,Riffa,Bahrain,True
25869,2003-12-18,Kuwait,Lebanon,0,0,Friendly,Paphos,Cyprus,True
25870,2003-12-20,Latvia,Kuwait,0,2,Friendly,Paphos,Cyprus,True
25871,2003-12-20,Oman,Estonia,3,1,Friendly,Muscat,Oman,False
25872,2003-12-20,Saudi Arabia,Azerbaijan,1,0,Friendly,Riyadh,Saudi Arabia,False
25873,2003-12-21,Qatar,Iraq,0,0,Friendly,Doha,Qatar,False
25874,2003-12-21,United Arab Emirates,Kenya,2,2,Friendly,Abu Dhabi,United Arab Emirates,False
25875,2003-12-26,Bermuda,Barbados,1,2,Friendly,Hamilton,Bermuda,False
25876,2003-12-26,Kuwait,Oman,0,0,Gulf Cup,Kuwait City,Kuwait,False
25877,2003-12-26,United Arab Emirates,Saudi Arabia,0,2,Gulf Cup,Kuwait City,Kuwait,True
25878,2003-12-27,Bahamas,Haiti,0,6,Friendly,Miami,USA,True
25879,2003-12-27,Bahrain,Qatar,0,0,Gulf Cup,Kuwait City,Kuwait,True
25880,2003-12-28,Yemen,Oman,1,1,Gulf Cup,Kuwait City,Kuwait,True
25881,2003-12-29,Kuwait,United Arab Emirates,0,2,Gulf Cup,Kuwait City,Kuwait,False
25882,2003-12-29,Saudi Arabia,Qatar,0,0,Gulf Cup,Kuwait City,Kuwait,True
25883,2003-12-30,Bahrain,Yemen,5,1,Gulf Cup,Kuwait City,Kuwait,True
25884,2003-12-31,Oman,United Arab Emirates,2,0,Gulf Cup,Kuwait City,Kuwait,True

In [3]:
#演習問題2

#1. 試合2チームの総合得点の列、point_addを追加せよ
point_add = df["home_score"] + df["away_score"]
df["point_add"] = point_add

#2.イングランド(England)が出場した試合を全て抜き出し新たな変数に代入せよ
Eng = df[(df[["home_team","away_team"]] == "England").any(axis = 1)]
print(Eng.head())
#3. 2で作成したデータフレームをcsvファイルへ書き出せ
Eng.to_csv("England.csv",index = False)

         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral  point_add
0  Scotland    False          0
1   England    False          6
2  Scotland    False          3
3   England    False          4
4  Scotland    False          3

In [4]:
#総合演習問題
df = pd.read_csv("sample-data.csv")
#1. データの基本情報を確認せよ。（行数、列数、初めの5行など）
print(df.info())
print(df.head())

#2.データには欠損値がある。欠損値のある行を除け
print(df.dropna())

#3.性別（Gender）の列をダミー変数化してデータに付け加えよ
df = pd.concat([df.drop(["Gender"],axis=1),pd.get_dummies(df["Gender"])],axis=1)
print(df.head())
#4.病気（Disease）が1の人のみを抜き出せ
print(df[df.Disease == 1])

#データを学習用と検証用に8対2の割合で分割せよ。
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df,test_size=0.2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
Age               25 non-null float64
Blood_pressure    27 non-null float64
Vital_capacity    27 non-null float64
Gender            30 non-null object
Disease           30 non-null int64
Weight            25 non-null float64
Height            23 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.7+ KB
None
    Age  Blood_pressure  Vital_capacity Gender  Disease  Weight  Height
0  22.0           110.0          4300.0      M        1    79.0   183.0
1   NaN           128.0             NaN      M        1     NaN     NaN
2  24.0           104.0          3900.0      F        0    53.0   165.0
3  25.0           112.0          3000.0      F        0    45.0   155.0
4  27.0           108.0          4800.0      M        0    80.0   192.0
     Age  Blood_pressure  Vital_capacity Gender  Disease  Weight  Height
0   22.0           110.0          4300.0      M        1    79.0   183.0
2   24.0           104.0          3900.0      F        0    53.0   165.0
3   25.0           112.0          3000.0      F        0    45.0   155.0
4   27.0           108.0          4800.0      M        0    80.0   192.0
6   28.0           126.0          3800.0      F        1    43.0   164.0
7   29.0           104.0          4000.0      F        1    55.0   180.0
8   30.0           125.0          3600.0      F        1    47.0   166.0
9   31.0           120.0          3400.0      F        1    49.0   166.0
11  32.0           124.0          3900.0      M        0    61.0   177.0
12  33.0           106.0          3100.0      F        0    48.0   171.0
13  33.0           134.0          2900.0      F        0    41.0   170.0
15  36.0           128.0          3420.0      M        1    55.0   154.0
16  37.0           116.0          3800.0      M        1    70.0   171.0
18  38.0           134.0          2700.0      F        0    39.0   143.0
19  39.0           116.0          4550.0      M        1    86.0   187.0
21  42.0           130.0          3950.0      F        1    65.0   166.0
22  46.0           126.0          3100.0      M        0    58.0   168.0
23  49.0           140.0          3000.0      F        0    45.0   143.0
25  53.0           124.0          3400.0      M        1    71.0   187.0
26  56.0           118.0          3470.0      M        1    62.0   165.0
28  64.0           142.0          2500.0      F        1    40.0   132.0
29  65.0           144.0          2350.0      F        0    42.0   152.0
    Age  Blood_pressure  Vital_capacity  Disease  Weight  Height  F  M
0  22.0           110.0          4300.0        1    79.0   183.0  0  1
1   NaN           128.0             NaN        1     NaN     NaN  0  1
2  24.0           104.0          3900.0        0    53.0   165.0  1  0
3  25.0           112.0          3000.0        0    45.0   155.0  1  0
4  27.0           108.0          4800.0        0    80.0   192.0  0  1
     Age  Blood_pressure  Vital_capacity  Disease  Weight  Height  F  M
0   22.0           110.0          4300.0        1    79.0   183.0  0  1
1    NaN           128.0             NaN        1     NaN     NaN  0  1
6   28.0           126.0          3800.0        1    43.0   164.0  1  0
7   29.0           104.0          4000.0        1    55.0   180.0  1  0
8   30.0           125.0          3600.0        1    47.0   166.0  1  0
9   31.0           120.0          3400.0        1    49.0   166.0  1  0
10   NaN           116.0          3600.0        1    64.0     NaN  1  0
15  36.0           128.0          3420.0        1    55.0   154.0  0  1
16  37.0           116.0          3800.0        1    70.0   171.0  0  1
17  37.0             NaN          4150.0        1     NaN     NaN  0  1
19  39.0           116.0          4550.0        1    86.0   187.0  0  1
20   NaN             NaN          2900.0        1     NaN   165.0  1  0
21  42.0           130.0          3950.0        1    65.0   166.0  1  0
24   NaN           156.0          3400.0        1    60.0     NaN  0  1
25  53.0           124.0          3400.0        1    71.0   187.0  0  1
26  56.0           118.0          3470.0        1    62.0   165.0  0  1
28  64.0           142.0          2500.0        1    40.0   132.0  1  0

In [7]:
#平均値で欠損地を置換
df = pd.read_csv("sample-data.csv")
print(df.mean())
df.fillna(df.mean())

Age                 38.720000
Blood_pressure     124.481481
Vital_capacity    3510.740741
Disease              0.566667
Weight              57.120000
Height             166.173913
dtype: float64

      Age  Blood_pressure  Vital_capacity Gender  Disease  Weight      Height
0   22.00      110.000000     4300.000000      M        1   79.00  183.000000
1   38.72      128.000000     3510.740741      M        1   57.12  166.173913
2   24.00      104.000000     3900.000000      F        0   53.00  165.000000
3   25.00      112.000000     3000.000000      F        0   45.00  155.000000
4   27.00      108.000000     4800.000000      M        0   80.00  192.000000
5   38.72      126.000000     3800.000000      F        0   57.12  166.173913
6   28.00      126.000000     3800.000000      F        1   43.00  164.000000
7   29.00      104.000000     4000.000000      F        1   55.00  180.000000
8   30.00      125.000000     3600.000000      F        1   47.00  166.000000
9   31.00      120.000000     3400.000000      F        1   49.00  166.000000
10  38.72      116.000000     3600.000000      F        1   64.00  166.173913
11  32.00      124.000000     3900.000000      M        0   61.00  177.000000
12  33.00      106.000000     3100.000000      F        0   48.00  171.000000
13  33.00      134.000000     2900.000000      F        0   41.00  170.000000
14  34.00      124.481481     3510.740741      F        0   70.00  166.173913
15  36.00      128.000000     3420.000000      M        1   55.00  154.000000
16  37.00      116.000000     3800.000000      M        1   70.00  171.000000
17  37.00      124.481481     4150.000000      M        1   57.12  166.173913
18  38.00      134.000000     2700.000000      F        0   39.00  143.000000
19  39.00      116.000000     4550.000000      M        1   86.00  187.000000
20  38.72      124.481481     2900.000000      F        1   57.12  165.000000
21  42.00      130.000000     3950.000000      F        1   65.00  166.000000
22  46.00      126.000000     3100.000000      M        0   58.00  168.000000
23  49.00      140.000000     3000.000000      F        0   45.00  143.000000
24  38.72      156.000000     3400.000000      M        1   60.00  166.173913
25  53.00      124.000000     3400.000000      M        1   71.00  187.000000
26  56.00      118.000000     3470.000000      M        1   62.00  165.000000
27  58.00      144.000000     3510.740741      M        0   57.12  166.173913
28  64.00      142.000000     2500.000000      F        1   40.00  132.000000
29  65.00      144.000000     2350.000000      F        0   42.00  152.000000